# app configuration
PORT=5000
APP_MODE=development
CORS_ORIGIN=http://localhost:3000

# database configuration
DATABASE_URL=your_mongodb_connection_string

# jwt configuration
RESET_PASS_UI_LINK=http://localhost:3000/reset-password
CLIENT_SITE_PORT=3000

ACCESS_TOKEN=your_access_token_secret
JWT_ACCESS_EXPIRES_IN=1d

REFRESH_TOKEN=your_refresh_token_secret
JWT_REFRESH_EXPIRES_IN=7d
JWT_FORGET_PASSWORD_EXPIRES_IN=1h
BCRYPT_SALT_ROUND=10

# cloudinary configuration
CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET_KEY=your_api_secret_key

# smtp configuration
SMTP_USER=your smtp_user_email
SMTP_PASS=your smtp_user_password

# admin configuration
SUPER_ADMIN_PASS=superadmin123
DEFAULT_ADMIN_PASSWORD=admin123

